/*

	Styles for War Card Game

	Author:	Tyler Roland
	Date: 	11/4/15

*/

body
{
	background: black;
	text-align: center;
}

header 
{
	color: white;
	padding-top: 40px;
}

#boardwrap
{
	background: rgb(0,80,0);
	width: 940px;
	height: 400px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}


/* Game styles */

#game
{
	color: white;
}

#game h3
{
	padding-top: 10px;
}

#gameHeader
{
	border: 1px solid white;
	height: 100px;
	width: 940px;
}

#gameDesc
{
	color: white;
	text-align: justify;
	width: 400px;
	height: 400px;
	margin: auto;
	padding: 20px;
	font-size: 25px;
}

#playButton
{
	width: 140px;
	height: 400px;
	margin: auto;
}

#warDesc
{
	color: white;
	text-align: justify;
	width: 400px;
	height: 400px;
	margin: auto;
	padding: 20px;
	font-size: 25px;
}

button
{
	height: 40px;
}

#warAnimation
{
	width: 940px;
	height: 400px;
	background: rgba(0,0,0,0.5);
	margin: auto;
	position: absolute;
}

#warP
{

	color: white;
	
	font-size: 180px;
	text-align: center;
	padding-top: 60px;
	overflow: auto;

}

.war
{
	-moz-animation-name: war;
	-moz-animation-duration: 1s;
	-webkit-animation-name: war;
	-webkit-animation-duration: 1s;
	animation-name: war;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

@-moz-keyframes war
{
	0% {color: white;}
	20% {color: red;}
	40% {color: yellow;}
	60% {color: red;}
	80% {color: yellow;}
	100% {color: white;}
}

@-webkit-keyframes war
{
	0% {color: white;}
	20% {color: red;}
	40% {color: yellow;}
	60% {color: red;}
	80% {color: yellow;}
	100% {color: white;}
}

@keyframes war
{
	0% {color: white;}
	20% {color: red;}
	40% {color: yellow;}
	60% {color: red;}
	80% {color: yellow;}
	100% {color: white;}
}


#deckChoice
{
	color: white;
}

#deckChoice img
{
	height: 180px;
	width: 128px;
}

#playCount
{
	height: ;
	width: 300px;
	margin: auto;
	padding: auto;
	border-right: 1px solid white;
}

#result
{
	height: 100px;
	width: 340px;
	margin: auto;
	padding: auto;
}

#compCount
{
	height: 100px;
	width: 300px;
	margin: auto;
	padding: auto;
	border-left: 1px solid white;
}

#gameTable
{
	border: 1px solid white;
	height: 300px;
	width: 940px;
}

img
{
	height: 280px;
	width: 180px;
	border-radius: 20px;
	padding: 10px;
}

#playerDeck
{
	width: 200px;
	/*background: black url(img/backs/bladedancerC.jpg);
	background-size: cover;*/
}

#playerCard
{
	width: 200px;
	/*background: black url(img/cards/5.png);
	background-size: cover;*/
}

#middleGround
{
	width: 140px;
}

button
{
	color: black;
}

#compCard
{
	width: 200px;
	/*background: black url(img/cards/22.png);
	background-size: cover;*/
}

#compDeck
{
	width: 200px;
	/*background: black url(img/backs/sunbreakerC.jpg);
	background-size: cover;*/
}

#capt
{
	color: white;
	text-align: center;
}

#capt a:link
{
	text-decoration: underline;
}

#capt a:hover
{
	background: rgb(10,100,100);
}

/* Footer Styles */

footer
{
	width: 940px;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid white;
}